:root{
    --text-primary: var(--color-text, rgba(0, 0, 0, .8));
    --bg-primary-btn: var(--color-bg-brand, #0d99ff);
    --bg-toolbar: var(--color-bg-toolbar, #2c2c2c);
    --bg-toolbar-hover: var(--color-bg-toolbar-hover, #000);
    --bg-toolbar-active: var(--color-bg-toolbar-selected, #0d99ff);
    --bg-toolbar-selection: var(--color-textmenuhighlight, #0d99ff);
    --bg-texthighlight: var(--color-texthighlight, #0d99ff);
    --fg-toolbar: var(--color-icon-toolbar, rgba(255, 255, 255, .8));
    --fg-toolbar-hover: var(--color-icon-toolbar, #fff);
    --fg-toolbar-active: var(--color-icon-toolbar-onselected, #fff);
    --fg-toolbar-disabled: var(--color-icon-toolbar-disabled, rgba(255, 255, 255, .5));
    --fg-toolbar-filename: var(--color-text-toolbar, #fff);
    --fg-toolbar-foldername: var(--color-text-toolbar-secondary, #aaa);
    --fg-toolbar-chevron: var(--color-icon-toolbar, #fff);
    --fg-toolbar-unsavedicon: var(--color-icon-toolbar-tertiary, rgba(255, 255, 255, .4));
    --fg-toolbar-workplace-icon: var(--color-icon-toolbar-tertiary, rgba(255, 255, 255, .4));
    --fg-toolbar-login-button: var(--color-icon-toolbar, #fff);
    --fg-toolbar-login-button-border: var(--color-border-toolbar, rgba(255, 255, 255, .8));
    --fg-toolbar-community-icon: var(--color-icon-toolbar-tertiary, rgba(255, 255, 255, .4));
    --fg-toolbar-community-icon-active: var(--color-icon-toolbar, rgba(255, 255, 255, .8));
    --fg-toolbar-placeholder: var(--color-text-toolbar-tertiary, rgba(255, 255, 255, .4));
    --fg-badge: var(--color-icon-toolbar, rgba(255, 255, 255, .8));
    --bg-badge: rgba(255, 255, 255, .2);
    --fg-keyboard-shortcuts: var(--color-text-menu-secondary, #aaa);
    --bg-keyboard-shortcuts: var(--color-bg-menu, #2c2c2c);
    --fg-keyboard-shortcuts-tab: var(--color-text-menu, #aaa);
    --fg-keyboard-shortcuts-tab-hover: var(--color-text-menu, #d4d4d4);
    --fg-keyboard-shortcuts-divider: var(--color-conditionalborder, rgba(0, 0, 0, 0));
    --fg-keyboard-shortcuts-tab-border: var(--color-border-menu, #444);
    --fg-keyboard-shortcuts-tab-inactive: var(--color-text-menu-secondary);
    --bg-keyboard-shortcuts-selected: var(--color-icon-menu-selected, #0d99ff);
    --fg-keyboard-shortcuts-used-text: var(--color-text-menu-selected, #0d99ff);
    --bg-overlay: var(--color-bg-menu, #222);
    --bg-overlay-hover: var(--color-bg-menu-hover, #000);
    --bg-overlay-active: var(--color-bg-menu-selected, #0d99ff);
    --bg-overlay-outline: var(--color-shadow, rgba(0, 0, 0, .1) );
    --bg-overlay-outline-secondary: rgba(0, 0, 0, .1);
    --bg-overlay-inner-outline: #000;
    --fg-overlay: var(--color-text-menu, #fff);
    --fg-overlay-active: var(--color-text-menu-onselected, #fff);
    --fg-overlay-secondary: var(--color-text-menu-secondary, rgba(255, 255, 255, .4));
    --fg-overlay-sep: rgba(255, 255, 255, .2);
    --fg-overlay-tenth: rgba(255, 255, 255, .1);
    --fg-overlay-right-arrow: var(--color-icon-menu, #fff);
    --fg-overlay-right: var(--color-text-menu, #fff);
    --fg-focus: var(--color-border-selected, #0d99ff);
    --fg-select-chevron: var(--color-icon-tertiary, #b3b3b3);
    --fg-select-chevron-hover: var(--color-icon, #333333);
    --fg-select-option-disabled: var(--color-icon-menu-disabled, rgba(255, 255, 255, .4));
    --fg-overlay-hyperlink: var(--color-text-tooltip, #fff);
    --bg-progress-bar: var(--color-bg-brand, #0d99ff);
    --bg-slider-track: var(--color-icon-secondary, #050505);
    --fg-slider-thumb: var(--color-icon, #050505);
    --bg-jam-menu: #222;
    --fg-jam-menu: rgba(255, 255, 255, .8);
    --divider-jam-menu: rgba(255, 255, 255, .2);
    --border-jam-menu: rgba(0, 0, 0, .1);
    --border-dropdown-menu: initial;
    --bg-jam-menu-hover: #000;
    --fg-jam-menu-hover: #fff;
    --bg-jam-menu-active: #0d99ff;
    --fg-jam-menu-active: #fff;
    --border-jam-menu-active: #0d99ff;
    --border-jam-swatch: rgba(255, 255, 255, .2);
    --fg-jam-submenu: rgba(0, 0, 0, .8);
    --bg-jam-submenu: #f0f0f0;
    --fg-jam-submenu-hover: rgba(0, 0, 0, .8);
    --bg-jam-submenu-hover: rgba(0, 0, 0, .06);
    --fg-jam-submenu-active: #fff;
    --bg-jam-submenu-active: rgba(151, 71, 255, 1);
    --border-jam-submenu: rgba(0, 0, 0, .15);
    --border-jam-submenu-divider: rgba(0, 0, 0, .1);
    --border-jam-submenu-radius: 14px;
    --fg-toggle-on-background: var(--color-icon, #333333);
    --fg-toggle-border: var(--color-icon, #333333);
    --bg-pointer-modal: var(--color-bg-brand, #0d99ff);
    --fg-survey-active: var(--color-bg-brand, #0d99ff);
    --fg-voice-ghost-button: var(--color-text-menu, rgba(255, 255, 255, .8));
    --fg-voice-ghost-button-hover: var(--color-text-menu, rgba(255, 255, 255, .8));
    --fg-voice-ghost-button-disabled: var(--color-text-menu-disabled, rgba(255, 255, 255, .2));
    --voice-text-light: var(--color-text-menu-secondary, rgba(255, 255, 255, .4));
    --voice-text-dark: var(--color-text-menu, rgba(255, 255, 255, .8));
    --voice-text-dark-hover: var(--color-text-menu, rgba(255, 255, 255, .8));
    --modal-box-shadow: var(--elevation-400-menu-panel, 0px 2px 14px rgba(0, 0, 0, .15), 0px 0px 0px .5px rgba(0, 0, 0, .2));
    --hud-box-shadow: 0px 2px 7px rgba(0, 0, 0, .15), 0px 5px 17px rgba(0, 0, 0, .2);
    --fg-hyperlink-primary: var(--color-text-brand, #0d99ff);
    --new-tab-background: var(--color-bg-menu, #2c2c2c);
    --tab-bar-background: var(--color-bg-toolbar, #222);
}