:root{
    --color-bg: rgba(255, 255, 255, 1);
    --color-bg-assistive: #ff24bd;
    --color-bg-assistive-hover: #ea10ac;
    --color-bg-assistive-pressed: #ea10ac;
    --color-bg-assistive-secondary: #cb0b96;
    --color-bg-assistive-tertiary: #ffe0fc;
    --color-bg-brand: #0d99ff;
    --color-bg-brand-hover: #007be5;
    --color-bg-brand-pressed: #007be5;
    --color-bg-brand-secondary: #0768cf;
    --color-bg-brand-tertiary: #e5f4ff;
    --color-bg-component: #9747ff;
    --color-bg-component-hover: #8638e5;
    --color-bg-component-pressed: #8638e5;
    --color-bg-component-secondary: #7c2bda;
    --color-bg-component-tertiary: #f1e5ff;
    --color-bg-danger: #f24822;
    --color-bg-danger-hover: #dc3412;
    --color-bg-danger-pressed: #dc3412;
    --color-bg-danger-secondary: #bd2915;
    --color-bg-danger-tertiary: #ffe2e0;
    --color-bg-design: #0d99ff;
    --color-bg-design-hover: #007be5;
    --color-bg-design-pressed: #007be5;
    --color-bg-design-secondary: #0768cf;
    --color-bg-design-tertiary: #e5f4ff;
    --color-bg-desktopBackgrounded: #383838;
    --color-bg-desktopBackgrounded-disabled: #757575;
    --color-bg-desktopBackgrounded-hover: #444444;
    --color-bg-desktopBackgrounded-pressed: #2c2c2c;
    --color-bg-desktopBackgrounded-secondary: #383838;
    --color-bg-desktopBackgrounded-tertiary: #444444;
    --color-bg-desktopForeground: #1e1e1e;
    --color-bg-desktopForeground-disabled: #757575;
    --color-bg-desktopForeground-hover: #2c2c2c;
    --color-bg-desktopForeground-pressed: #2c2c2c;
    --color-bg-desktopForeground-secondary: #383838;
    --color-bg-desktopForeground-tertiary: #444444;
    --color-bg-desktopFullscreen: rgba(0, 0, 0, 1);
    --color-bg-desktopFullscreen-disabled: #757575;
    --color-bg-desktopFullscreen-hover: #1e1e1e;
    --color-bg-desktopFullscreen-pressed: #1e1e1e;
    --color-bg-desktopFullscreen-secondary: #383838;
    --color-bg-desktopFullscreen-tertiary: #444444;
    --color-bg-disabled: #d9d9d9;
    --color-bg-disabled-secondary: #b3b3b3;
    --color-bg-figjam: #9747ff;
    --color-bg-figjam-hover: #8638e5;
    --color-bg-figjam-pressed: #8638e5;
    --color-bg-figjam-secondary: #7c2bda;
    --color-bg-figjam-tertiary: #f1e5ff;
    --color-bg-fs: rgba(255, 255, 255, 1);
    --color-bg-fs-assistive: #ff24bd;
    --color-bg-fs-assistive-secondary: #cb0b96;
    --color-bg-fs-assistive-tertiary: #ffe0fc;
    --color-bg-fs-component: #9747ff;
    --color-bg-fs-component-secondary: #7c2bda;
    --color-bg-fs-component-tertiary: #e4ccff;
    --color-bg-fs-design: #0d99ff;
    --color-bg-fs-design-secondary: #0768cf;
    --color-bg-fs-design-tertiary: #bde3ff;
    --color-bg-fs-measure: #f24822;
    --color-bg-fs-measure-secondary: #bd2915;
    --color-bg-fs-measure-tertiary: #ffe2e0;
    --color-bg-fs-selected: #e5f4ff;
    --color-bg-fs-selected-secondary: #f2f9ff;
    --color-bg-handoff: #14ae5c;
    --color-bg-handoff-hover: #009951;
    --color-bg-handoff-pressed: #009951;
    --color-bg-handoff-secondary: #008043;
    --color-bg-handoff-tertiary: #cff7d3;
    --color-bg-hover: #f5f5f5;
    --color-bg-info: #e5f4ff;
    --color-bg-inverse: #2c2c2c;
    --color-bg-measure: #f24822;
    --color-bg-measure-hover: #dc3412;
    --color-bg-measure-pressed: #dc3412;
    --color-bg-measure-secondary: #bd2915;
    --color-bg-measure-tertiary: #ffe2e0;
    --color-bg-menu: #1e1e1e;
    --color-bg-menu-disabled: #757575;
    --color-bg-menu-hover: #2c2c2c;
    --color-bg-menu-pressed: #2c2c2c;
    --color-bg-menu-secondary: #383838;
    --color-bg-menu-selected: #0d99ff;
    --color-bg-menu-selected-hover: #007be5;
    --color-bg-menu-selected-pressed: #007be5;
    --color-bg-menu-selected-secondary: #394360;
    --color-bg-menu-selected-tertiary: #394360;
    --color-bg-menu-tertiary: #444444;
    --color-bg-onselected: #bde3ff;
    --color-bg-onselected-hover: #bde3ff;
    --color-bg-onselected-pressed: #bde3ff;
    --color-bg-pressed: #f5f5f5;
    --color-bg-secondary: #f5f5f5;
    --color-bg-selected: #e5f4ff;
    --color-bg-selected-hover: #bde3ff;
    --color-bg-selected-pressed: #bde3ff;
    --color-bg-selected-secondary: #f2f9ff;
    --color-bg-selected-strong: #0d99ff;
    --color-bg-selected-tertiary: #f2f9ff;
    --color-bg-success: #14ae5c;
    --color-bg-success-hover: #009951;
    --color-bg-success-pressed: #009951;
    --color-bg-success-secondary: #008043;
    --color-bg-success-tertiary: #cff7d3;
    --color-bg-tertiary: #e6e6e6;
    --color-bg-toolbar: #2c2c2c;
    --color-bg-toolbar-disabled: #757575;
    --color-bg-toolbar-hover: #111111;
    --color-bg-toolbar-pressed: #111111;
    --color-bg-toolbar-secondary: #383838;
    --color-bg-toolbar-selected: #0d99ff;
    --color-bg-toolbar-selected-hover: #007be5;
    --color-bg-toolbar-selected-pressed: #007be5;
    --color-bg-toolbar-selected-secondary: #0768cf;
    --color-bg-toolbar-selected-tertiary: #0d99ff;
    --color-bg-toolbar-tertiary: #444444;
    --color-bg-tooltip: #1e1e1e;
    --color-bg-tooltip-disabled: #757575;
    --color-bg-tooltip-hover: #2c2c2c;
    --color-bg-tooltip-pressed: #2c2c2c;
    --color-bg-tooltip-secondary: #383838;
    --color-bg-tooltip-selected: #0d99ff;
    --color-bg-tooltip-selected-hover: #007be5;
    --color-bg-tooltip-selected-pressed: #007be5;
    --color-bg-tooltip-selected-secondary: #394360;
    --color-bg-tooltip-selected-tertiary: #394360;
    --color-bg-tooltip-tertiary: #444444;
    --color-bg-warning: #ffcd29;
    --color-bg-warning-hover: #ffc21a;
    --color-bg-warning-pressed: #ffc21a;
    --color-bg-warning-secondary: #fab815;
    --color-bg-warning-tertiary: #fff1c2;
    --color-border: #e6e6e6;
    --color-border-assistive: #ffbdf2;
    --color-border-assistive-strong: #ea10ac;
    --color-border-brand: #bde3ff;
    --color-border-brand-strong: #007be5;
    --color-border-component: #e4ccff;
    --color-border-component-hover: #9747ff;
    --color-border-component-strong: #8638e5;
    --color-border-danger: #ffc7c2;
    --color-border-danger-strong: #dc3412;
    --color-border-design: #bde3ff;
    --color-border-design-strong: #007be5;
    --color-border-desktopBackgrounded: #444444;
    --color-border-desktopBackgrounded-disabled: #383838;
    --color-border-desktopBackgrounded-strong: rgba(255, 255, 255, .7);
    --color-border-desktopForeground: #383838;
    --color-border-desktopForeground-disabled: #383838;
    --color-border-desktopForeground-strong: rgba(255, 255, 255, 1);
    --color-border-desktopFullscreen: #1e1e1e;
    --color-border-desktopFullscreen-disabled: #1e1e1e;
    --color-border-desktopFullscreen-strong: rgba(255, 255, 255, 1);
    --color-border-disabled: #e6e6e6;
    --color-border-disabled-strong: rgba(0, 0, 0, .3);
    --color-border-figjam: #e4ccff;
    --color-border-figjam-strong: #8638e5;
    --color-border-fs: #e6e6e6;
    --color-border-fs-assistive: #ffbdf2;
    --color-border-fs-assistive-strong: #ff24bd;
    --color-border-fs-component: #e4ccff;
    --color-border-fs-component-strong: #9747ff;
    --color-border-fs-design: #bde3ff;
    --color-border-fs-design-strong: #0d99ff;
    --color-border-fs-measure: #f24822;
    --color-border-fs-measure-strong: #f24822;
    --color-border-fs-onassistive: #ea10ac;
    --color-border-fs-onassistive-strong: rgba(255, 255, 255, 1);
    --color-border-fs-oncomponent: #8638e5;
    --color-border-fs-oncomponent-strong: rgba(255, 255, 255, 1);
    --color-border-fs-ondesign: #007be5;
    --color-border-fs-ondesign-strong: rgba(255, 255, 255, 1);
    --color-border-fs-onmeasure: #dc3412;
    --color-border-fs-onmeasure-strong: rgba(255, 255, 255, 1);
    --color-border-fs-onselected: #bde3ff;
    --color-border-fs-onselected-strong: rgba(0, 0, 0, .9);
    --color-border-fs-selected: #0d99ff;
    --color-border-fs-selected-strong: #0d99ff;
    --color-border-fs-strong: #2c2c2c;
    --color-border-handoff: #009951;
    --color-border-handoff-strong: rgba(255, 255, 255, 1);
    --color-border-measure: #ffc7c2;
    --color-border-measure-strong: #dc3412;
    --color-border-menu: #383838;
    --color-border-menu-disabled: #383838;
    --color-border-menu-disabled-strong: #383838;
    --color-border-menu-onselected: #007be5;
    --color-border-menu-onselected-strong: rgba(255, 255, 255, 1);
    --color-border-menu-selected: #0d99ff;
    --color-border-menu-selected-strong: #80caff;
    --color-border-menu-strong: rgba(255, 255, 255, 1);
    --color-border-onassistive: #ea10ac;
    --color-border-onassistive-strong: rgba(255, 255, 255, 1);
    --color-border-onbrand: #007be5;
    --color-border-onbrand-strong: rgba(255, 255, 255, 1);
    --color-border-oncomponent: #8638e5;
    --color-border-oncomponent-strong: rgba(255, 255, 255, 1);
    --color-border-ondanger: #dc3412;
    --color-border-ondanger-strong: rgba(255, 255, 255, 1);
    --color-border-ondesign: #007be5;
    --color-border-ondesign-strong: rgba(255, 255, 255, 1);
    --color-border-onfigjam: #8638e5;
    --color-border-onfigjam-strong: #8638e5;
    --color-border-onmeasure: #dc3412;
    --color-border-onmeasure-strong: rgba(255, 255, 255, 1);
    --color-border-onselected: #bde3ff;
    --color-border-onselected-strong: rgba(0, 0, 0, .9);
    --color-border-onsuccess: #009951;
    --color-border-onsuccess-strong: rgba(255, 255, 255, 1);
    --color-border-onwarning: #fab815;
    --color-border-onwarning-strong: rgba(0, 0, 0, .9);
    --color-border-selected: #0d99ff;
    --color-border-selected-strong: #007be5;
    --color-border-strong: #2c2c2c;
    --color-border-success: #aff4c6;
    --color-border-success-strong: #009951;
    --color-border-toolbar: #444444;
    --color-border-toolbar-disabled: rgba(255, 255, 255, .4);
    --color-border-toolbar-onselected: rgba(255, 255, 255, 1);
    --color-border-toolbar-selected: #0d99ff;
    --color-border-toolbar-selected-strong: #80caff;
    --color-border-toolbar-strong: rgba(255, 255, 255, 1);
    --color-border-tooltip: #383838;
    --color-border-tooltip-disabled: #383838;
    --color-border-tooltip-disabled-strong: #383838;
    --color-border-tooltip-onselected: #007be5;
    --color-border-tooltip-onselected-strong: rgba(255, 255, 255, 1);
    --color-border-tooltip-selected: #0d99ff;
    --color-border-tooltip-selected-strong: #80caff;
    --color-border-tooltip-strong: rgba(255, 255, 255, 1);
    --color-border-warning: #ffe8a3;
    --color-border-warning-strong: #b86200;
    --color-icon: rgba(0, 0, 0, .9);
    --color-icon-assistive: #ea10ac;
    --color-icon-assistive-pressed: #cb0b96;
    --color-icon-assistive-secondary: #ea10ac;
    --color-icon-assistive-tertiary: #ea10ac;
    --color-icon-brand: #007be5;
    --color-icon-brand-pressed: #0768cf;
    --color-icon-brand-secondary: #80caff;
    --color-icon-brand-tertiary: #bde3ff;
    --color-icon-component: #8638e5;
    --color-icon-component-pressed: #7c2bda;
    --color-icon-component-secondary: #c5b2dc;
    --color-icon-component-tertiary: #c5b2dc;
    --color-icon-danger: #f24822;
    --color-icon-danger-hover: #bd2915;
    --color-icon-danger-pressed: #bd2915;
    --color-icon-danger-secondary: #f24822;
    --color-icon-danger-secondary-hover: #f24822;
    --color-icon-danger-tertiary: #f24822;
    --color-icon-design: #007be5;
    --color-icon-design-pressed: #0768cf;
    --color-icon-design-secondary: #007be5;
    --color-icon-design-tertiary: #007be5;
    --color-icon-desktopBackgrounded: rgba(255, 255, 255, .7);
    --color-icon-desktopBackgrounded-danger: #f24822;
    --color-icon-desktopBackgrounded-disabled: rgba(255, 255, 255, .4);
    --color-icon-desktopBackgrounded-hover: rgba(255, 255, 255, .7);
    --color-icon-desktopBackgrounded-ondisabled: #383838;
    --color-icon-desktopBackgrounded-secondary: rgba(255, 255, 255, .7);
    --color-icon-desktopBackgrounded-secondary-hover: rgba(255, 255, 255, .7);
    --color-icon-desktopBackgrounded-tertiary: rgba(255, 255, 255, .4);
    --color-icon-desktopBackgrounded-tertiary-hover: rgba(255, 255, 255, .4);
    --color-icon-desktopBackgrounded-warning: #ffcd29;
    --color-icon-desktopForeground: rgba(255, 255, 255, 1);
    --color-icon-desktopForeground-danger: #f24822;
    --color-icon-desktopForeground-disabled: rgba(255, 255, 255, .4);
    --color-icon-desktopForeground-hover: rgba(255, 255, 255, 1);
    --color-icon-desktopForeground-ondisabled: #1e1e1e;
    --color-icon-desktopForeground-secondary: rgba(255, 255, 255, .7);
    --color-icon-desktopForeground-secondary-hover: rgba(255, 255, 255, 1);
    --color-icon-desktopForeground-tertiary: rgba(255, 255, 255, .4);
    --color-icon-desktopForeground-tertiary-hover: rgba(255, 255, 255, 1);
    --color-icon-desktopForeground-warning: #ffcd29;
    --color-icon-desktopFullscreen: rgba(255, 255, 255, 1);
    --color-icon-desktopFullscreen-danger: #f24822;
    --color-icon-desktopFullscreen-disabled: rgba(255, 255, 255, .4);
    --color-icon-desktopFullscreen-hover: rgba(255, 255, 255, 1);
    --color-icon-desktopFullscreen-ondisabled: rgba(0, 0, 0, 1);
    --color-icon-desktopFullscreen-secondary: rgba(255, 255, 255, .7);
    --color-icon-desktopFullscreen-secondary-hover: rgba(255, 255, 255, 1);
    --color-icon-desktopFullscreen-tertiary: rgba(255, 255, 255, .4);
    --color-icon-desktopFullscreen-tertiary-hover: rgba(255, 255, 255, 1);
    --color-icon-desktopFullscreen-warning: #ffcd29;
    --color-icon-disabled: rgba(0, 0, 0, .3);
    --color-icon-figjam: #8638e5;
    --color-icon-figjam-pressed: #7c2bda;
    --color-icon-figjam-secondary: #c5b2dc;
    --color-icon-figjam-tertiary: #c5b2dc;
    --color-icon-fs: rgba(0, 0, 0, .9);
    --color-icon-fs-assistive: #ea10ac;
    --color-icon-fs-component: #9747ff;
    --color-icon-fs-design: #007be5;
    --color-icon-fs-measure: #f24822;
    --color-icon-fs-onassistive: rgba(255, 255, 255, 1);
    --color-icon-fs-oncomponent: rgba(255, 255, 255, 1);
    --color-icon-fs-ondesign: rgba(255, 255, 255, 1);
    --color-icon-fs-onmeasure: rgba(255, 255, 255, 1);
    --color-icon-fs-onselected: rgba(0, 0, 0, .9);
    --color-icon-fs-secondary: rgba(0, 0, 0, .5);
    --color-icon-fs-selected: #007be5;
    --color-icon-fs-tertiary: rgba(0, 0, 0, .3);
    --color-icon-handoff: rgba(255, 255, 255, 1);
    --color-icon-handoff-pressed: #008043;
    --color-icon-handoff-secondary: rgba(255, 255, 255, .8);
    --color-icon-handoff-tertiary: rgba(255, 255, 255, .4);
    --color-icon-hover: rgba(0, 0, 0, .9);
    --color-icon-measure: #f24822;
    --color-icon-measure-hover: #bd2915;
    --color-icon-measure-pressed: #bd2915;
    --color-icon-measure-secondary: #f24822;
    --color-icon-measure-secondary-hover: #f24822;
    --color-icon-measure-tertiary: #f24822;
    --color-icon-menu: rgba(255, 255, 255, 1);
    --color-icon-menu-danger: #f24822;
    --color-icon-menu-disabled: rgba(255, 255, 255, .4);
    --color-icon-menu-hover: rgba(255, 255, 255, 1);
    --color-icon-menu-ondisabled: #1e1e1e;
    --color-icon-menu-onselected: rgba(255, 255, 255, 1);
    --color-icon-menu-pressed: #0d99ff;
    --color-icon-menu-secondary: rgba(255, 255, 255, .7);
    --color-icon-menu-secondary-hover: rgba(255, 255, 255, 1);
    --color-icon-menu-selected: #80caff;
    --color-icon-menu-selected-secondary: #80caff;
    --color-icon-menu-selected-tertiary: #80caff;
    --color-icon-menu-tertiary: rgba(255, 255, 255, .4);
    --color-icon-menu-tertiary-hover: rgba(255, 255, 255, 1);
    --color-icon-menu-warning: #ffcd29;
    --color-icon-onassistive: rgba(255, 255, 255, 1);
    --color-icon-onassistive-secondary: rgba(255, 255, 255, .8);
    --color-icon-onassistive-tertiary: rgba(255, 255, 255, .4);
    --color-icon-onbrand: rgba(255, 255, 255, 1);
    --color-icon-onbrand-secondary: rgba(255, 255, 255, .8);
    --color-icon-onbrand-tertiary: rgba(255, 255, 255, .4);
    --color-icon-oncomponent: rgba(255, 255, 255, 1);
    --color-icon-oncomponent-secondary: rgba(255, 255, 255, .8);
    --color-icon-oncomponent-tertiary: rgba(255, 255, 255, .4);
    --color-icon-ondanger: rgba(255, 255, 255, 1);
    --color-icon-ondanger-secondary: rgba(255, 255, 255, .8);
    --color-icon-ondanger-tertiary: rgba(255, 255, 255, .4);
    --color-icon-ondesign: rgba(255, 255, 255, 1);
    --color-icon-ondesign-secondary: rgba(255, 255, 255, .8);
    --color-icon-ondesign-tertiary: rgba(255, 255, 255, .4);
    --color-icon-ondisabled: rgba(255, 255, 255, 1);
    --color-icon-onfigjam: rgba(255, 255, 255, 1);
    --color-icon-onfigjam-secondary: rgba(255, 255, 255, .8);
    --color-icon-onfigjam-tertiary: rgba(255, 255, 255, .4);
    --color-icon-oninverse: rgba(255, 255, 255, .9);
    --color-icon-onmeasure: rgba(255, 255, 255, 1);
    --color-icon-onmeasure-secondary: rgba(255, 255, 255, .8);
    --color-icon-onmeasure-tertiary: rgba(255, 255, 255, .4);
    --color-icon-onselected: rgba(0, 0, 0, .9);
    --color-icon-onselected-secondary: rgba(0, 0, 0, .5);
    --color-icon-onselected-strong: rgba(255, 255, 255, 1);
    --color-icon-onselected-tertiary: rgba(0, 0, 0, .3);
    --color-icon-onsuccess: rgba(255, 255, 255, 1);
    --color-icon-onsuccess-secondary: rgba(255, 255, 255, .8);
    --color-icon-onsuccess-tertiary: rgba(255, 255, 255, .4);
    --color-icon-onwarning: rgba(0, 0, 0, .9);
    --color-icon-onwarning-secondary: rgba(0, 0, 0, .5);
    --color-icon-onwarning-tertiary: rgba(0, 0, 0, .3);
    --color-icon-pressed: #007be5;
    --color-icon-secondary: rgba(0, 0, 0, .5);
    --color-icon-secondary-hover: rgba(0, 0, 0, .9);
    --color-icon-selected: #007be5;
    --color-icon-selected-secondary: #007be5;
    --color-icon-selected-tertiary: #007be5;
    --color-icon-success: #14ae5c;
    --color-icon-success-pressed: #008043;
    --color-icon-success-secondary: #14ae5c;
    --color-icon-success-tertiary: #14ae5c;
    --color-icon-tertiary: rgba(0, 0, 0, .3);
    --color-icon-tertiary-hover: rgba(0, 0, 0, .9);
    --color-icon-toolbar: rgba(255, 255, 255, 1);
    --color-icon-toolbar-danger: #f24822;
    --color-icon-toolbar-disabled: rgba(255, 255, 255, .4);
    --color-icon-toolbar-hover: rgba(255, 255, 255, 1);
    --color-icon-toolbar-ondisabled: #2c2c2c;
    --color-icon-toolbar-onselected: rgba(255, 255, 255, 1);
    --color-icon-toolbar-pressed: #0d99ff;
    --color-icon-toolbar-secondary: rgba(255, 255, 255, .7);
    --color-icon-toolbar-secondary-hover: rgba(255, 255, 255, 1);
    --color-icon-toolbar-selected: #80caff;
    --color-icon-toolbar-selected-secondary: #80caff;
    --color-icon-toolbar-selected-tertiary: #80caff;
    --color-icon-toolbar-tertiary: rgba(255, 255, 255, .4);
    --color-icon-toolbar-tertiary-hover: rgba(255, 255, 255, 1);
    --color-icon-toolbar-warning: #ffcd29;
    --color-icon-tooltip: rgba(255, 255, 255, 1);
    --color-icon-tooltip-danger: #f24822;
    --color-icon-tooltip-disabled: rgba(255, 255, 255, .4);
    --color-icon-tooltip-hover: rgba(255, 255, 255, 1);
    --color-icon-tooltip-ondisabled: #1e1e1e;
    --color-icon-tooltip-onselected: rgba(255, 255, 255, 1);
    --color-icon-tooltip-pressed: #0d99ff;
    --color-icon-tooltip-secondary: rgba(255, 255, 255, .7);
    --color-icon-tooltip-secondary-hover: rgba(255, 255, 255, 1);
    --color-icon-tooltip-selected: #80caff;
    --color-icon-tooltip-selected-secondary: #80caff;
    --color-icon-tooltip-selected-tertiary: #80caff;
    --color-icon-tooltip-tertiary: rgba(255, 255, 255, .4);
    --color-icon-tooltip-tertiary-hover: rgba(255, 255, 255, 1);
    --color-icon-tooltip-warning: #ffcd29;
    --color-icon-warning: #ffcd29;
    --color-icon-warning-pressed: #b86200;
    --color-icon-warning-secondary: #ffcd29;
    --color-icon-warning-tertiary: #ffcd29;
    --color-text: rgba(0, 0, 0, .9);
    --color-text-assistive: #ea10ac;
    --color-text-assistive-pressed: #cb0b96;
    --color-text-assistive-secondary: #ea10ac;
    --color-text-assistive-tertiary: #ea10ac;
    --color-text-brand: #007be5;
    --color-text-brand-secondary: #007be5;
    --color-text-brand-tertiary: #007be5;
    --color-text-component: #8638e5;
    --color-text-component-pressed: #7c2bda;
    --color-text-component-secondary: #c5b2dc;
    --color-text-component-tertiary: #c5b2dc;
    --color-text-danger: #dc3412;
    --color-text-danger-secondary: #dc3412;
    --color-text-danger-tertiary: #dc3412;
    --color-text-design: #007be5;
    --color-text-design-pressed: #0768cf;
    --color-text-design-secondary: #007be5;
    --color-text-design-tertiary: #007be5;
    --color-text-desktopBackgrounded: rgba(255, 255, 255, .7);
    --color-text-desktopBackgrounded-danger: #ffafa3;
    --color-text-desktopBackgrounded-disabled: rgba(255, 255, 255, .4);
    --color-text-desktopBackgrounded-hover: rgba(255, 255, 255, .7);
    --color-text-desktopBackgrounded-ondisabled: #383838;
    --color-text-desktopBackgrounded-secondary: rgba(255, 255, 255, .7);
    --color-text-desktopBackgrounded-secondary-hover: rgba(255, 255, 255, .7);
    --color-text-desktopBackgrounded-tertiary: rgba(255, 255, 255, .4);
    --color-text-desktopBackgrounded-tertiary-hover: rgba(255, 255, 255, .4);
    --color-text-desktopBackgrounded-warning: #ffd966;
    --color-text-desktopForeground: rgba(255, 255, 255, 1);
    --color-text-desktopForeground-danger: #ffafa3;
    --color-text-desktopForeground-disabled: rgba(255, 255, 255, .4);
    --color-text-desktopForeground-hover: rgba(255, 255, 255, 1);
    --color-text-desktopForeground-ondisabled: #1e1e1e;
    --color-text-desktopForeground-secondary: rgba(255, 255, 255, .7);
    --color-text-desktopForeground-secondary-hover: rgba(255, 255, 255, 1);
    --color-text-desktopForeground-tertiary: rgba(255, 255, 255, .4);
    --color-text-desktopForeground-tertiary-hover: rgba(255, 255, 255, 1);
    --color-text-desktopForeground-warning: #ffd966;
    --color-text-desktopFullscreen: rgba(255, 255, 255, 1);
    --color-text-desktopFullscreen-danger: #ffafa3;
    --color-text-desktopFullscreen-disabled: rgba(255, 255, 255, .4);
    --color-text-desktopFullscreen-hover: rgba(255, 255, 255, 1);
    --color-text-desktopFullscreen-ondisabled: rgba(0, 0, 0, 1);
    --color-text-desktopFullscreen-secondary: rgba(255, 255, 255, .7);
    --color-text-desktopFullscreen-secondary-hover: rgba(255, 255, 255, 1);
    --color-text-desktopFullscreen-tertiary: rgba(255, 255, 255, .4);
    --color-text-desktopFullscreen-tertiary-hover: rgba(255, 255, 255, 1);
    --color-text-desktopFullscreen-warning: #ffd966;
    --color-text-disabled: rgba(0, 0, 0, .3);
    --color-text-figjam: #8638e5;
    --color-text-figjam-pressed: #7c2bda;
    --color-text-figjam-secondary: #c5b2dc;
    --color-text-figjam-tertiary: #c5b2dc;
    --color-text-fs: rgba(0, 0, 0, .9);
    --color-text-fs-assistive: #ea10ac;
    --color-text-fs-component: #9747ff;
    --color-text-fs-design: #007be5;
    --color-text-fs-measure: #dc3412;
    --color-text-fs-onassistive: rgba(255, 255, 255, 1);
    --color-text-fs-oncomponent: rgba(255, 255, 255, 1);
    --color-text-fs-ondesign: rgba(255, 255, 255, 1);
    --color-text-fs-onmeasure: rgba(255, 255, 255, 1);
    --color-text-fs-onselected: rgba(0, 0, 0, .9);
    --color-text-fs-secondary: rgba(0, 0, 0, .5);
    --color-text-fs-selected: #007be5;
    --color-text-fs-tertiary: rgba(0, 0, 0, .3);
    --color-text-handoff: rgba(255, 255, 255, 1);
    --color-text-handoff-secondary: rgba(255, 255, 255, .8);
    --color-text-handoff-tertiary: rgba(255, 255, 255, .4);
    --color-text-hover: rgba(0, 0, 0, .9);
    --color-text-measure: #dc3412;
    --color-text-measure-secondary: #dc3412;
    --color-text-measure-tertiary: #dc3412;
    --color-text-menu: rgba(255, 255, 255, 1);
    --color-text-menu-danger: #ffafa3;
    --color-text-menu-disabled: rgba(255, 255, 255, .4);
    --color-text-menu-hover: rgba(255, 255, 255, 1);
    --color-text-menu-ondisabled: #1e1e1e;
    --color-text-menu-onselected: rgba(255, 255, 255, 1);
    --color-text-menu-secondary: rgba(255, 255, 255, .7);
    --color-text-menu-secondary-hover: rgba(255, 255, 255, 1);
    --color-text-menu-selected: #80caff;
    --color-text-menu-selected-secondary: #80caff;
    --color-text-menu-selected-tertiary: #80caff;
    --color-text-menu-tertiary: rgba(255, 255, 255, .4);
    --color-text-menu-tertiary-hover: rgba(255, 255, 255, 1);
    --color-text-menu-warning: #ffd966;
    --color-text-onassistive: rgba(255, 255, 255, 1);
    --color-text-onassistive-secondary: rgba(255, 255, 255, .8);
    --color-text-onassistive-tertiary: rgba(255, 255, 255, .4);
    --color-text-onbrand: rgba(255, 255, 255, 1);
    --color-text-onbrand-secondary: rgba(255, 255, 255, .8);
    --color-text-onbrand-tertiary: rgba(255, 255, 255, .4);
    --color-text-oncomponent: rgba(255, 255, 255, 1);
    --color-text-oncomponent-secondary: rgba(255, 255, 255, .8);
    --color-text-oncomponent-tertiary: rgba(255, 255, 255, .4);
    --color-text-ondanger: rgba(255, 255, 255, 1);
    --color-text-ondanger-secondary: rgba(255, 255, 255, .8);
    --color-text-ondanger-tertiary: rgba(255, 255, 255, .4);
    --color-text-ondesign: rgba(255, 255, 255, 1);
    --color-text-ondesign-secondary: rgba(255, 255, 255, .8);
    --color-text-ondesign-tertiary: rgba(255, 255, 255, .4);
    --color-text-ondisabled: rgba(255, 255, 255, 1);
    --color-text-onfigjam: rgba(255, 255, 255, 1);
    --color-text-onfigjam-secondary: rgba(255, 255, 255, .8);
    --color-text-onfigjam-tertiary: rgba(255, 255, 255, .4);
    --color-text-oninverse: rgba(255, 255, 255, .9);
    --color-text-onmeasure: rgba(255, 255, 255, 1);
    --color-text-onmeasure-secondary: rgba(255, 255, 255, .8);
    --color-text-onmeasure-tertiary: rgba(255, 255, 255, .4);
    --color-text-onselected: rgba(0, 0, 0, .9);
    --color-text-onselected-secondary: rgba(0, 0, 0, .5);
    --color-text-onselected-strong: rgba(255, 255, 255, 1);
    --color-text-onselected-tertiary: rgba(0, 0, 0, .3);
    --color-text-onsuccess: rgba(255, 255, 255, 1);
    --color-text-onsuccess-secondary: rgba(255, 255, 255, .8);
    --color-text-onsuccess-tertiary: rgba(255, 255, 255, .4);
    --color-text-onwarning: rgba(0, 0, 0, .9);
    --color-text-onwarning-secondary: rgba(0, 0, 0, .5);
    --color-text-onwarning-tertiary: rgba(0, 0, 0, .3);
    --color-text-secondary: rgba(0, 0, 0, .5);
    --color-text-secondary-hover: rgba(0, 0, 0, .9);
    --color-text-selected: #007be5;
    --color-text-selected-secondary: #007be5;
    --color-text-selected-tertiary: #007be5;
    --color-text-success: #009951;
    --color-text-success-secondary: #009951;
    --color-text-success-tertiary: #009951;
    --color-text-tertiary: rgba(0, 0, 0, .3);
    --color-text-tertiary-hover: rgba(0, 0, 0, .9);
    --color-text-toolbar: rgba(255, 255, 255, 1);
    --color-text-toolbar-danger: #ffafa3;
    --color-text-toolbar-disabled: rgba(255, 255, 255, .4);
    --color-text-toolbar-hover: rgba(255, 255, 255, 1);
    --color-text-toolbar-ondisabled: #2c2c2c;
    --color-text-toolbar-onselected: rgba(255, 255, 255, 1);
    --color-text-toolbar-secondary: rgba(255, 255, 255, .7);
    --color-text-toolbar-secondary-hover: rgba(255, 255, 255, 1);
    --color-text-toolbar-selected: #80caff;
    --color-text-toolbar-selected-secondary: #80caff;
    --color-text-toolbar-selected-tertiary: #80caff;
    --color-text-toolbar-tertiary: rgba(255, 255, 255, .4);
    --color-text-toolbar-tertiary-hover: rgba(255, 255, 255, 1);
    --color-text-toolbar-warning: #ffd966;
    --color-text-tooltip: rgba(255, 255, 255, 1);
    --color-text-tooltip-danger: #ffafa3;
    --color-text-tooltip-disabled: rgba(255, 255, 255, .4);
    --color-text-tooltip-hover: rgba(255, 255, 255, 1);
    --color-text-tooltip-ondisabled: #1e1e1e;
    --color-text-tooltip-onselected: rgba(255, 255, 255, 1);
    --color-text-tooltip-secondary: rgba(255, 255, 255, .7);
    --color-text-tooltip-secondary-hover: rgba(255, 255, 255, 1);
    --color-text-tooltip-selected: #80caff;
    --color-text-tooltip-selected-secondary: #80caff;
    --color-text-tooltip-selected-tertiary: #80caff;
    --color-text-tooltip-tertiary: rgba(255, 255, 255, .4);
    --color-text-tooltip-tertiary-hover: rgba(255, 255, 255, 1);
    --color-text-tooltip-warning: #ffd966;
    --color-text-warning: #b86200;
    --color-text-warning-secondary: #b86200;
    --color-text-warning-tertiary: #b86200;
}